/* //estilos back */

#back {
    position: absolute;
    z-index: 0;
}


/* //estilos Textos */

p {
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 12px;
    line-height: 8px;
    padding-bottom: 0px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 18px;
    font-weight: bold;
    line-height: 14px;
    padding-bottom: 5px;
    padding-top: -10px;
}


/* //estilos caja descripción */

.des {
    padding-top: 5px;
    padding-bottom: 0px;
    color: #8c07bf;
}


/* //Estilos Slider */

.swiper-container {
    width: 1040px;
    height: 850px;
}

.swiper-button-prev {
    margin-left: 300px;
}

.swiper-button-prev:focus {
    outline: 0px solid transparent;
}

.swiper-button-next {
    margin-right: 300px;
}

.swiper-button-next:focus {
    outline: 0px solid transparent;
}

.slide1 {
    margin-left: 10px;
}

.slide2 {
    margin-left: 20px;
}

.frame {
    margin-top: 300px;
    margin-right: 85px;
}

@keyframes flare {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 1800px;
    }
}

img {
    border-radius: 10px;
}

.itemfooter {
    width: 280px;
    margin: 0;
    text-align: center;
    margin-top: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    border-style: outset;
    border-color: orange;
    z-index: 10;
}


/* //estilos menus por juego */

.grad {
    width: 280px;
    text-align: center;
    position: absolute;
    padding: 0px;
    z-index: 5;
    border-radius: 10px;
    text-align: center;
}

.grad2 {
    width: 280px;
    text-align: center;
    position: absolute;
    padding: 0px;
    z-index: 25;
    margin-top: 300px;
    margin-left: 15px;
    border-radius: 10px;
    text-align: center;
    animation: shadow 4s infinite ease;
    height: 465px;
}

.grad2-2 {
    width: 280px;
    text-align: center;
    position: absolute;
    padding: 0px;
    z-index: 25;
    margin-top: 300px;
    margin-left: 360px;
    border-radius: 10px;
    text-align: center;
    animation: shadow 4s infinite ease;
    height: 465px;
}

.grad2-3 {
    width: 280px;
    text-align: center;
    position: absolute;
    padding: 0px;
    z-index: 25;
    margin-top: 300px;
    margin-left: 705px;
    border-radius: 10px;
    text-align: center;
    animation: shadow 4s infinite ease;
    height: 465px;
}

.grad2-4 {
    width: 280px;
    text-align: center;
    position: absolute;
    padding: 0px;
    z-index: 25;
    margin-top: 300px;
    margin-left: 15px;
    border-radius: 10px;
    text-align: center;
    animation: shadow 4s infinite ease;
    height: 465px;
}

.grad2-5 {
    width: 280px;
    text-align: center;
    position: absolute;
    padding: 0px;
    z-index: 25;
    margin-top: 300px;
    margin-left: 360px;
    border-radius: 10px;
    text-align: center;
    animation: shadow 4s infinite ease;
    height: 465px;
}

.grad2-6 {
    width: 280px;
    text-align: center;
    position: absolute;
    padding: 0px;
    z-index: 25;
    margin-top: 300px;
    margin-left: 705px;
    border-radius: 10px;
    text-align: center;
    animation: shadow 4s infinite ease;
    height: 465px;
}


/* // Animación box-shadow */

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 10px 10px rgb(255, 0, 157);
    }
    33% {
        box-shadow: 0px 0px 10px 8px rgb(38, 230, 179);
    }
    67% {
        box-shadow: 0px 0px 10px 10px rgb(241, 224, 31);
    }
    100% {
        box-shadow: 0px 0px 10px 8px rgb(38, 230, 179);
    }
    67% {
        box-shadow: 0px 0px 10px 10px rgb(241, 224, 31);
    }
    33% {
        box-shadow: 0px 0px 10px 8px rgb(0, 255, 238);
    }
}


/* // Animación gradiente footers */

#canvasfooter,
#canvasfooter2,
#canvasfooter3,
#canvasfooter4,
#canvasfooter5,
#canvasfooter6 {
    height: 65px;
    width: 280px;
    margin-top: 400px;
    margin-left: 0px;
    position: absolute;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* // Animación sprites contorno animado menús */

.sprite {
    height: 500px;
    width: 306px;
    background: url(img/fcometa.png);
    margin-top: 283px;
    padding: 0px;
    position: absolute;
    animation: flare 1s steps(6) infinite;
    z-index: 20;
}

.sprite2 {
    height: 500px;
    width: 306px;
    background: url(img/fcometa.png);
    margin-top: 283px;
    margin-left: 345px;
    padding: 0px;
    position: absolute;
    animation: flare 1s steps(6) infinite;
    z-index: 20;
}

.sprite3 {
    height: 500px;
    width: 306px;
    background: url(img/fcometa.png);
    margin-top: 283px;
    margin-left: 690px;
    padding: 0px;
    position: absolute;
    animation: flare 1s steps(6) infinite;
    z-index: 20;
}

.sprite4 {
    height: 500px;
    width: 306px;
    background: url(img/fcometa.png);
    margin-top: 283px;
    padding: 0px;
    position: absolute;
    animation: flare 1s steps(6) infinite;
    z-index: 20;
}

.sprite5 {
    height: 500px;
    width: 306px;
    background: url(img/fcometa.png);
    margin-top: 283px;
    margin-left: 345px;
    padding: 0px;
    position: absolute;
    animation: flare 1s steps(6) infinite;
    z-index: 20;
}

.sprite6 {
    height: 500px;
    width: 306px;
    background: url(img/fcometa.png);
    margin-top: 283px;
    margin-left: 690px;
    padding: 0px;
    position: absolute;
    animation: flare 1s steps(6) infinite;
    z-index: 20;
}

@keyframes flare {
    0% {
        background-position: 1836px;
    }
    100% {
        background-position: 0px;
    }
}